#home {
  /*background: url('https://s32.postimg.org/dj0g3u6cl/Screen_Shot_2016_08_02_at_1_48_01_PM.png') no-repeat center ;*/
  /*background: url('https://s32.postimg.org/s6zef6iyt/IMG_0309.jpg') no-repeat center; /*Carlo 1*/
  background: url('https://s31.postimg.org/54jmfup23/download.jpg') no-repeat center; /*Carlo 2*/
  background-size: cover;
  background-repeat: no-repeat;
  border: .1px solid white;
  margin-top: -20px;
  width: 100%;
  height: 93vh;
}

.loginButton {
  text-align: center;
  margin-top: 25%;
  color: #0073b7;
  font-weight: lighter;
  letter-spacing: 0.05em;
}

.loginButton:hover {
  text-decoration: none;
}

#fakeButton {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 8px;  
  border: 3px solid #f8f8f8;
  padding: 20px;
  width: 200px;
  height: 150px;
  background-color: #f8f8f8;
}

#fakeButton:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 9px 25px 0 rgba(0,0,0,0.19);
  color: #f8f8f8;
  background-color: #0073b7;
  border-color: #0073b7;
}

.profilePicture {
  max-width: 50px;
  max-height: 50px;
}

.fullscreen {
  text-align: center;
}

img.roomImage {
  height: 160px;
  float: right;
}

img.floorPlan {
  max-height: 600px;
  margin-left: 25%;
}

.roomDetails {
  display: inline-block;
}

.RoomsList {
  display: inline-block;
  width: 100%;
  border: 2px solid darkgrey;
  padding: 0px 0px 21px 60px;
}

.room:hover{
  fill-opacity: 1;
}

.window {
  border: 2px solid darkgrey;
  padding: 0px 20px 21px 20px;
}

.window img { 
  margin-top: -55px;
  height: 285px;
  float: right; 
}


/*=============================================================*/

.open {
    background-color: white; 
    border: none;
    border-radius: 3px;
    color: #49c633;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.1s;
    display: inline-flex;
    border: 1px solid #49c633; 
}

.open:hover {
  background-color: #49c633;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24),0 4px 12px 0 rgba(0,0,0,0.19);
  color: white;
}

.booked {
    background-color: orange; 
    border: none;
    border-radius: 3px;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    opacity: 0.6;
    cursor: not-allowed;
    display: inline-flex;
}

/*=============================================================*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #49c633;
}

input:focus + .slider {
  box-shadow: 0 0 1px #49c633;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
