html, body {
  /* Your css here */
}

.title {
  text-align: center;
  margin-top: 10%;
}

.fullscreen {
  max-height: 5000px;
  min-height: 1500px;
  text-align: center;

}


.foo {
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.blue {
  background: #13b4ff;
}

.purple {
  background: #ab3fdd;
}

.wine {
  background: #ae163e;
}

.profilePicture {
  max-width: 50px;
  max-height: 50px;
}